 body
{
    box-sizing: border-box;
    font-family: Nunito Sans;
    margin: 0.5%;

}
/*=========================================Le  header*==================================================*/


header nav
{
    display:flex;
    background-color: #fff;
    color: #000;
    background-color: #fff;
    box-shadow: 0px 0.25px 2px;
    padding-top: 1.5%;
    justify-content:center;
}

/*nav et icon*/

.top .block_top
{
    display:flex;
    flex-wrap: wrap;
    padding-left:150px;
    align-items: baseline;
    font-weight: 700;
}
header .top img
{
    position:absolute;
    width: 207px;
    height: 63px;
    margin-left: 15px;
}
header .block_top ul
{
    display: inline-flex;
    margin-bottom: 0em;
    flex-wrap: wrap;
    margin:0em;
    
}
header .block_top ul li 
{
    list-style: none;
    padding-right: 70px;
    line-height: 13px;

}
header .block_top ul li a
{
    color: #000;
    text-decoration: none;
    
}
header .block_top ul li a p
{
    width: 80px;
    height: 22px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
}

/*barre de recherche*/

div.search
{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-left: -35px;
    margin-top:12px;

}
div.search img
{
    width: 18px;
    height: 18px;

}

/*partie espace*/

#id_espace
{
    border-bottom: solid 5px #ce0033;
    padding-bottom:50px;
    padding-left: 10px;
    padding-right: 10px;
    color:#ce0033;
    font-weight: bold;
    font-size: 18px;
    font-family: Nunito Sans;    
}
/*btn contact*/
.langue
{
    display: flex;
    justify-content:flex-end;
    margin-bottom:8px;
    margin-left: 10%;


}


.langue button
{
    background-color: #ce0033;
    color: #fff;
    width: 87px;
    height: 32px;
    border-radius: 25px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    border: #ce0033 solid 1px;
}
.langue select#lang 
{
    border: #ce0033;
    background-color: #fff;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 950;
    font-size: 13px;
    line-height: 18px;

}

/*--------------------------------------------Baniere rouge-----------------------------*/

section.banniere .block_red
{
    color: #fff;
    font-weight: bold;
    background-color: #ce0033;
    position: absolute;
    height: 174px;
    margin-top:10px;
    
}
section.banniere .block_red h2
{
    text-align: center;
    padding-top: 50px;
    padding-bottom:87px;

    font-size: 50px;

}


/*    -------------------------------------------->  PARTIE APPRENANT*/

main.bigcontainer .timeline .step_01 h4
{
    border: #ce0033 solid 1px;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    

}













